@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&family=Teko:wght@300..700&display=swap");
@import url("https://fonts.cdnfonts.com/css/gloock-2");
:root {
  --color1:#ff5f13;
  --color2:#191a33;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, ul, li {
  margin: 0px;
  padding: 0px;
  border: 0px;
  font-size: 100%;
  background: transparent;
  text-decoration: none;
  quotes: none;
  list-style: none;
  font-family: "Rubik", "Poppins", "Lato";
}

html, body {
  height: 100%;
}

html {
  scroll-behavior: smooth;
  height: 100%;
  overflow-x: hidden;
}

::-moz-selection {
  color: rgb(255, 255, 255);
  background: var(--color2);
}

::selection {
  color: rgb(255, 255, 255);
  background: var(--color2);
}

article, aside, footer, header, hgroup, nav, section, figure, figcaption {
  display: block;
  margin: 0px;
}

* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

input, textarea {
  border-radius: 0px;
  font-family: "Rubik", "Poppins", Arial, Helvetica, sans-serif;
}

input[type=submit], input[type=button] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

button {
  font-family: "Rubik", "Poppins", Arial, Helvetica, sans-serif;
  background: none;
  border: none;
}

span {
  font-family: "Rubik", "Poppins", Arial, Helvetica, sans-serif;
}

blockquote::before, blockquote::after, q::before, q::after {
  content: none;
}

:focus {
  outline: 0px;
}

ins {
  text-decoration: none;
}

del {
  text-decoration: line-through;
}

table {
  border-collapse: collapse;
  border-spacing: 0px;
}

*, ::after, ::before {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  margin: 0px;
  padding: 0px;
}

a {
  transition: all 0.9s ease 0s;
  outline: none;
  text-decoration: none;
  font-family: "Rubik", "Poppins", Arial, sans-serif;
  font-weight: 400;
}

.clearfloat {
  clear: both;
}

body h1 {
  font-size: 36px;
  font-family: "Teko", Arial, Helvetica, sans-serif;
  font-weight: 500;
}

body h2 {
  font-size: 28px;
  font-family: "Teko", "Poppins", Arial, Helvetica, sans-serif;
  font-weight: 500;
  color: var(--color1);
  letter-spacing: 1.5px;
}

body h3 {
  font-size: 20px;
  font-family: "Teko", "Poppins", Arial, Helvetica, sans-serif;
}

body h4 {
  font-size: 16px;
  font-family: "Teko", "Poppins", Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-style: italic;
}

body h5 {
  font-size: 14px;
  font-family: "Teko", "Poppins", Arial, Helvetica, sans-serif;
  font-weight: 500;
}

body h6 {
  font-size: 12px;
  font-family: "Teko", "Poppins", Arial, Helvetica, sans-serif;
  font-weight: 500;
}

body p {
  font-size: 16px;
  line-height: 25px;
  font-weight: normal;
  font-family: "Rubik", "Poppins", Arial, Helvetica, sans-serif;
  margin: 0px;
  padding: 0px;
  color: #777777;
}

img {
  width: 100%;
  display: block;
  transition: all 1s ease 0s;
  margin: auto;
}

body {
  font-family: "Rubik", "Poppins", Arial, Helvetica, sans-serif;
  width: 100%;
  position: relative;
  height: 100%;
}

/* Main Navigation styling*/
header {
  background-image: url("../images/header-bg.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}
header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(25, 26, 51, 0.9);
  z-index: 1;
}

.desktop-navigation .top-navigation {
  border-bottom: 1px #aaa solid;
  z-index: 12;
}
.desktop-navigation .top-navigation .nav-search {
  min-width: 200px;
}
.desktop-navigation .top-navigation .nav-search input {
  border: none;
  border-bottom: 1px solid #bebebe;
  background: transparent;
  color: #666;
  font-size: 14px;
  font-weight: 300;
  width: 100%;
}
.desktop-navigation .top-navigation .nav-search input::-moz-placeholder {
  color: #777;
}
.desktop-navigation .top-navigation .nav-search input::placeholder {
  color: #777;
}
.desktop-navigation .top-navigation .nav-search button {
  color: #dadada;
  font-size: 13px;
}
.desktop-navigation .top-navigation .logo h1 {
  color: white;
  font-weight: 400;
  font-size: 40px;
  line-height: 1;
  padding-top: 5px;
  letter-spacing: 1px;
}
.desktop-navigation .top-navigation .logo span {
  color: var(--color1);
  font-weight: 800;
  font-family: "Gloock", sans-serif;
}
.desktop-navigation .top-navigation .sign-up {
  min-width: 200px;
  float: right;
}
.desktop-navigation .bottom-navigation {
  position: relative;
  z-index: 12;
}
.desktop-navigation .bottom-navigation ul li a {
  font-size: 15px;
  font-weight: 300;
}
.desktop-navigation .bottom-navigation ul li a:hover {
  color: var(--color1) !important;
}
.desktop-navigation .bottom-navigation ul li a.active {
  color: var(--color1) !important;
  font-weight: 400;
}

.home-banner {
  width: 100%;
  position: relative;
}
.home-banner .home-banner-content {
  position: relative;
  left: 50%;
  margin-top: -50px;
  width: -moz-fit-content;
  width: fit-content;
  transform: translateX(-50%);
  background: url("../images/orange-bg.jpg");
}

.slick-prev, .slick-next {
  color: #777777;
  font-size: 20px;
  width: 30px;
  height: 30px;
  border: 1px solid #777;
  background: transparent;
  border-radius: 50%;
}

.slick-prev:before, .slick-next:before {
  opacity: 0;
  font-size: 0;
}

.slick-prev:hover, .slick-prev:focus, .slick-next:hover, .slick-next:focus {
  border-color: var(--color1);
  color: var(--color1);
}

.slick-prev {
  left: -15px;
}

.slick-next {
  right: -15px;
}/*# sourceMappingURL=style.css.map */